<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="adminhome">Home</a>
<a href="admin_manage_club">View Club</a>
<a href="admin_manage_news">Manage News</a>
<a href="admin_manage_enquiry">Manage Enquiry</a>
<a href="admin_manage_fixture">Manage Fixture</a>
<a href="admin_manage_video">Manage Videos</a>
<a href="admin_view_playerhistory">View Players</a>
<a href="admin_view_bannedplayers">View Banned Players</a>
<a href="admin_view_users">View Users</a>
<a href="admin_manage_matchcategory">Add Match category</a>

<a href="/">Logout</a>