{% include 'adminheader.html' %}

<br><br>
<center>
<h1>View Banned Players</h1>
<table class="table table-striped tbl-new">
    <tr>
        <th>Index No</th>
        <th>Player</th>
        <th>Place</th>
        <th>Phone</th>
        <th>Email</th>
        <th>Banned Reason</th>
  
        
    </tr>
    {% for row in data['res'] %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ row['fname'] }}{{ row['lname'] }}</td>
        <td>{{ row['place'] }}</td>
        <td>{{ row['phone'] }}</td>
        <td>{{ row['email'] }}</td>
        <td>{{ row['reason'] }}</td>
       
    </tr>
    {% endfor %}
</table>
</center>

{% include 'footer.html' %}