{% include 'clubadminheader.html' %}
<div class="top-div"></div>
<center>
    <h3>View Ranks</h3>
    
<table class="table" style="width: 1000px;">
    <tr>
        <th>#</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Place </th>
        <th>Phone</th>
        <th>Email</th>
        <th>Reason For Ban</th>
    </tr>
    {% for i in data['rank'] %}
    <tr>
        <td>{{loop.index}}</td>
        <td>{{i['fname']}}</td>
        <td>{{i['lname']}}</td>
        <td>{{i['place']}}</td>
        <td>{{i['phone']}}</td>
        <td>{{i['email']}}</td>
        <td>{{i['rank']}}</td>
        <!-- <td><a href="?action=update&id={{i['player_id']}}" class="btn btn-warning">Update</a></td> -->
        <!-- <td><a href="?action=delete&id={{i['player_id']}}" class="btn btn-danger">Delete</a></td> -->
    </tr>

    {% endfor %}
</table>


</center>

{% include 'footer.html' %}