{% include 'clubadminheader.html' %}

<center>
    <form action="" method="post">
    <h1>Add News</h1>
    <table class="tabe" style="width: 500px;">
        <tr>
            <th>News</th>
            <td><input type="text" name="news" class="form-control" required value="{% if data['newsup'] %}{{data['newsup'][0]['news']}}{% endif %}"></td>
        </tr>
    <tr>
        <td colspan="2" align="center"><input type="submit" {% if data['newsup'] %} name="edit" value="update" {% else %} name="register" value="Register" {% endif %} class="btn btn-success"></td>
    </tr>
    </table>

</form>

    <h3>View Newss</h3>
    <table class="table" style="width: 600px;">
        <tr>
            <th>#</th>
            <th>News</th>
        </tr>
        {% for i in data['news'] %}
        <tr>
            <td>{{loop.index}}</td>
            <td>{{i['news']}}</td>
            <td><a href="?action=update&id={{i['news_id']}}" class="btn btn-success">Update</a></td>
            <td><a href="?action=delete&id={{i['news_id']}}" class="btn btn-success">dellete</a></td>
        </tr>
        {% endfor %}
    </table>
</center>

{% include 'footer.html' %}