<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="enquiryhome">Home</a>
<a href="enquiry_view_profile">Profile</a>
<a href="enquiry_yearwise_rank">Add Rank</a>
<a href="enquiry_ban_player">Ban Player</a>
<a href="enquiry_view_complaints">Complaints</a>
<a href="enquiry_view_playerhistory">View Players</a>
<a href="enquiry_view_club">View Clubs</a>
<a href="enquiry_view_users">View Users</a>
<a href="enquiry_view_physiotherapist">View Physiotherapists</a>
<a href="enquiry_view_nutritionalist">View Nutritionalists</a>
<a href="enquiry_view_news">View News</a>


<a href="/">Logout</a>