{% include 'enquiryheader.html' %}

<br><br>
<center>  <div class="top-div"></div>
<h1>View Users</h1>
<table class="table table-striped tbl-new">
    <tr>
        <th>Index No</th>
        <th>User</th>
        <th>Place</th>
        <th>Phone</th>
        <th>Email</th>
    </tr>
    {% for row in data['res'] %}
    <tr>
        <td>{{ loop.index }}</td>
        <td>{{ row['fname'] }}{{ row['lname'] }}</td>
        <td>{{ row['place'] }}</td>
        <td>{{ row['phone'] }}</td>
        <td>{{ row['email'] }}</td>
    </tr>
    {% endfor %}
</table>
</center>

{% include 'footer.html' %}