<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="adminhome">Home</a>
<a href="nutritionaist_view_profile">Profile</a>
<a href="nutritionaist_view_players">View Players</a>
<a href="nutritionaist_view_coach">View Coache's</a>
<a href="nutritionaist_view_news">View News</a>
<a href="nutritionaist_view_rank">View Ranks</a>
<a href="nutritionaist_complaints">Report Complaints</a>
<a href="nutritionaist_consultation">Consult Physiotherapist</a>


<a href="/">Logout</a>