{% include 'publicheader.html' %}

 
<center>
    <div style="margin: 100px auto;">
        <form action="" method="post" style="width: 500px;" enctype="multipart/form-data">
            <h1>Psysician Register</h1>
            <table class="table">
                <tr>
                    <th>Psysician Name</th>
                    <td><input type="text" required class="form-control" name="fname" id="" value="{% if data['coachup'] %}{{data['coachup'][0]['fname']}}{% endif %}"></td>
                </tr>
               
                <tr>
                    <th>Phone</th>
                    <td><input type="text" maxlength="10" required class="form-control" name="phone" id="" value="{% if data['coachup'] %}{{data['coachup'][0]['phone']}}{% endif %}"></td>
                </tr>
                <tr>
                    <th>Email</th>
                    <td><input type="text" required class="form-control" name="email" id="" value="{% if data['coachup'] %}{{data['coachup'][0]['email']}}{% endif %}"></td>
                </tr>
                <tr>
                    <th>Photo</th>
                    <td><input type="file" required class="form-control" name="photo" id="" value="{% if data['coachup'] %}{{data['coachup'][0]['photo']}}{% endif %}"></td>
                </tr>      
                <tr>
                    <th>Dob</th>
                    <td><input type="date" required class="form-control" name="dob" id="" value="{% if data['coachup'] %}{{data['coachup'][0]['dob']}}{% endif %}"></td>
                </tr>      
                <tr>
                    <th>Place</th>
                    <td><input type="text" required class="form-control" name="place" id="" value="{% if data['coachup'] %}{{data['coachup'][0]['place']}}{% endif %}"></td>
                </tr>
                {% if data['coachup'] %}
                {% else %}
                
                <tr>
                    <th>Username</th>
                    <td><input type="text" required class="form-control" name="uname" id=""></td>
                </tr>
                <tr>
                    <th>Password</th>
                    <td><input type="password" required class="form-control" name="pwd" id=""></td>
                </tr>
                {% endif %}
                <tr>
                    <td colspan="2" align="center"><input type="submit" class="btn btn-success" {% if data['coachup'] %} name="edit" value="Update" {% else %} name="btn" {% endif %} id="btn"></td>
                </tr>
            </table>
        </form>
    </div>
</center>


{% include 'footer.html' %}