<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
<a href="playerhome">Home</a>
<a href="player_view_profile">Profile</a>
<a href="player_view_news">View News</a>
<a href="player_view_videos">View Videos</a>
<a href="player_consultation">Consultation</a>
<a href="player_complaint">Complaint</a>
<a href="player_view_yearlyrank">View Players rank</a>
<a href="/">Logout</a>