{% include 'publicheader.html' %}
<center>
    <form action="" method="post" id="reg" enctype="multipart/form-data">
    <h2>Club Player Register</h2>

        <table class="table" style="width: 500px;">
            <tr>
                <th>Fiirst Name</th>
                <td><input type="text" name="fname" class="form-control" required value="{% if data['playerupd'] %}{{data['playerupd'][0]['fname']}}{% endif %}"></td>
            </tr>
            <tr>
                <th>Last Name</th>
            <td><input type="text" name="lname" class="form-control" required value="{% if data['playerupd'] %}{{data['playerupd'][0]['lname']}}{% endif %}"></td>
        </tr>
            <tr>
                <th>Place</th>
            <td><input type="text" name="place" class="form-control" required value="{% if data['playerupd'] %}{{data['playerupd'][0]['place']}}{% endif %}"></td>
        </tr>
        <tr>
            <th>phone</th>
            <td><input type="text" name="phone" pattern="[0-9]{10}" class="form-control" required value="{% if data['playerupd'] %}{{data['playerupd'][0]['phone']}}{% endif %}"></td>
        </tr>
        <tr>
            <th>Email</th>
        <td><input type="email" name="email" class="form-control" required value="{% if data['playerupd'] %}{{data['playerupd'][0]['email']}}{% endif %}"></td>
    </tr>
        <tr>
            <th>Aadhar No</th>
        <td><input type="number" name="adhr" class="form-control" required value="{% if data['playerupd'] %}{{data['playerupd'][0]['aadhar_no']}}{% endif %}"></td>
    </tr>
        <tr>
            <th>Photo</th>
        <td><input type="file" name="photo" class="form-control" required value="{% if data['playerupd'] %}{{data['playerupd'][0]['photo']}}{% endif %}"></td>
    </tr>
        <tr>
            <th>Date Of Birth</th>
        <td><input type="date" name="dob" class="form-control" required value="{% if data['playerupd'] %}{{data['playerupd'][0]['dob']}}{% endif %}"></td>
    </tr>
    {% if data['playerupd'] %}
    {% else %}
        <tr>
            <th>User Name</th>
            <td><input type="text" name="uname" class="form-control" required></td>
        </tr>
        <tr>
            <th>Password</th>
            <td><input type="password" name="passw" class="form-control" required></td>
        </tr>
        {% endif %}
        <tr>
            <td colspan="2" align="center"><input type="submit" {% if data['playerupd'] %} name="edit" value="update" {% else %} name="register" value="Register" {% endif %} class="btn btn-success"></td>
        </tr>
    </table>
</form>
{% include 'footer.html' %}